$primary: #ed2647;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;

$gray1: #dddddd;
$gray2: #d9d9d9;
$gray3: #9a9a9a;
$gray4: #f6f6f6;
$gray5: #f9f9f9;

$bgColor: #ffffff;
$textColor: #232323;
